<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br/>
<ion-button color="warning" (click)="apresentarActionSheet()">Acionar o Action</ion-button>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Meu primeiro projeto Ionic</strong>
    <p>Um parágrafo com html</p>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="danger">
    <ion-title>
    - Rodapé -
    </ion-title>
  </ion-toolbar>
</ion-footer>